[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
py2neo = "*"
pre-commit = "*"
pydantic = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
typing = "*"

[dev-packages]

[requires]
python_version = "3.8"
