[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
py2neo = "*"
pre-commit = "*"
pydantic = "*"
python-dotenv = "*"
typing = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.uvicorn]
extras = [ "standard",]
version = "*"

[packages.python-jose]
extras = [ "cryptography",]

[packages.passlib]
extras = [ "bcrypt",]
